h1.title {
    font-family: InterDisplay;
    font-weight: 800;
    color: white;
    font-size: 70pt;
}
p {
    font-family: Inter;
    font-weight: 400;
    color: var(--paragraph-col);
    font-size: 14pt;
    line-height: 16pt;
    margin: 5px 0px;
}
sectiontitle{
    display: block;
    width: 100%;
    color: var(--section-text);
    font-family: Inter;
    font-weight: 700;
    font-size: 35pt;
    padding: 20px 0px;
    text-indent: var(--section_indent);
    
    
}
sectiontitle.topgradient{
    background-image:linear-gradient(to top, rgba(var(--main-bkg-g), 1), transparent);
}
sectiontitle.bottomgradient{
    background-image:linear-gradient(to bottom, rgba(var(--main-bkg-g), 1), rgba(var(--main-bkg-g), 0.1));
}
section.galery{
    position: relative;
    width: 100%;
    background: var(--main-bkg);
}
section.skills{
    position: relative;
    width: 100%;
    background: var(--second-bkg);
}
#pagetitle {
    position : relative;
    display: block;
    background-image:linear-gradient(to bottom, black, transparent), url("Images/Waves.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    height : 600px;
    width: 100%;
}