@font-face { font-family: "Inter"; font-style: normal; font-weight: 700; font-display: swap; src: url("Fonts/Inter-Bold.woff2") format("woff2");}
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 800; font-display: swap; src: url("Fonts/InterDisplay-ExtraBold.woff2") format("woff2");}
@font-face { font-family: "Inter"; font-style: normal; font-weight: 400; font-display: swap; src: url("Fonts/Inter-Regular.woff2") format("woff2"); }
@property --galcol1 {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, 0.75);
    inherits: false;
}
property --galcol2 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
}
h1.title {
    font-family: InterDisplay;
    font-weight: 800;
    color: white;
    font-size: 70pt;
}
sectiontitle.topgradient{
    display: block;
    width: 100%;
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 35pt;
    padding:20px 20%;
    background-image:linear-gradient(to top, black, rgba(0, 0, 0, 0.25));
}
section.galery{
    width: 100%;
    background: black;
}
section.skills{
    width: 100%;
    background: rgb(233, 233, 233);
}
#pagetitle {
    position : relative;
    background-image:linear-gradient(to bottom, black, transparent), url("Images/Waves.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    height : 600px;
    width: 100%;
}
#GlueBottom {
    position: absolute; bottom:0px;
}